user nginx;
worker_processes auto;

error_log /dev/stdout info;
pid /var/run/nginx.pid;

events {
  worker_connections 1024;
}

http {
  access_log /dev/stdout;

  server {
    listen ##PORT##;
    server_name ##SERVER_NAME##;
    include /etc/nginx/conf.d/*.conf;

    location / {
      resolver 8.8.8.8 ipv6=off;
      resolver_timeout 3s;
      proxy_set_header Host kibana01.azr.grabpay.com;
      proxy_http_version 1.1;
      proxy_set_header Upgrade $http_upgrade;
      proxy_set_header Connection "Upgrade";
      set $upstream_endpoint ##PROXY_PASS##;
      proxy_pass $upstream_endpoint$request_uri;
    }
    location /health_check {
     stub_status on;
     access_log off;
    }
  }
}
