user nginx;
worker_processes auto;

error_log /dev/stdout info;
pid /var/run/nginx.pid;

events {
  worker_connections 1024;
}

http {
  error_log  /dev/stderr debug;

  server {
    listen ##PORT##;
    server_name ##SERVER_NAME##;
    include /etc/nginx/conf.d/*.conf;

    location / {
      resolver 8.8.8.8 ipv6=off;
      resolver_timeout 3s;
      proxy_set_header Host $host;
      proxy_ssl_protocols TLSv1 TLSv1.1 TLSv1.2;
      proxy_ssl_ciphers   HIGH:!aNULL:!MD5;
      set $upstream_endpoint ##PROXY_PASS##;
      proxy_pass $upstream_endpoint$request_uri;
    }
    location /health_check {
     stub_status on;
     access_log off;
    }
  }
}
